{% extends "base.html" %}
    {% block start %}
    
    <body class="body1">
        <h1 class="ref">TeleICU Monitoring System</h1>
    <label>
        
        <input class="hidden" type="checkbox">
        <div class="menu">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
    
        </div>
        <div class="slide">
            <h1 class="heading"><u>MENU</u></h1>
                        <ul>
                        <li><a href="{{(url_for('webcam'))}}"><i class="fa fa-camera"></i>Webcam</a></li>
                        <li><a href="{{(url_for('upload_video'))}}"><i class="fa fa-upload"></i>Upload video</a></li>
                        </ul>
                    </div>
    
    </label>
    </body>
    {% endblock %}
